.taglist {
    font-size: 80%;
    color: #073642;
}

.footnotes {
    font-size: 80%;
    color: #073642;
}

.postdescription {
    font-size: 80%;
    font-style: italic;
    color: #073642;
}

.postdate {
    font-size: 66%;
}

article .postdate {
    font-size: 66%;
}

.warning {
    font-size: 90%;
    border: solid 2px;
    border-color: #d33682;
    border-radius: 3px;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 5px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    width: 80%;
}

.warning-text {
    margin-left: 20px;
}

code {
    overflow-x: auto;
}

pre .sourceCode {
    overflow: auto;
}

.webring h2 {
  font-weight: normal;
  font-size: 1em;
  font-style: italic;
  margin-top: 5rem;
}

.webring .articles {
  display: flex;
  flex-wrap: wrap;
  margin: -0.5rem;
}

.webring .title {
  margin: 0;
  font-size: 0.9em;
}

.webring .article {
  flex: 1 1 0;
  display: flex;
  flex-direction: column;
  margin: 0.5rem;
  padding: 0.7rem;
  background: #eee8d5;
  min-width: 10rem;
}

.webring .summary {
  font-size: 1.0rem;
  flex: 1 1 0;
}

.webring .date {
  font-size: 1.0rem;
  padding-bottom: 1.0rem;
  font-style: italic;
  /* flex: 1 1 0; */
}

.webring .attribution {
  text-align: right;
  font-size: 0.8rem;
  color: #586e75;
}
