<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>danso - $title$</title>
        <link href='/images/favicon.ico' rel='icon' type='image/x-icon'>
        <link rel="stylesheet" href="/css/solarized.css" />
        <link rel="stylesheet" href="/css/syntax.css" />
       $if(feed)$ <link href="/feeds/$feed$.xml" rel="alternate" type="application/atom+xml" title="$feedtitle$" /> $endif$
    </head>
    <body>
        <header>
            <div class="logo">
                <a href="/">danso</a>
            </div>
            <nav>
                <a href="/music">music</a>
                <a href="/hacking">hacking</a>
                <a href="/contact">contact</a>
                <a href="/blog">blog</a>
            </nav>
        </header>

        <main>
            <article>
            <h1>$title$</h1>
            $body$
            </article>
        </main>
        <footer>
            $if(gentime)$ generated $gentime$ $endif$
            $if(modtime)$ last modified $modtime$ $endif$
            <p class=rfc2119>
              The key words "MUST", "MUST NOT", "REQUIRED", "SHALL", "SHALL NOT",
              "SHOULD", "SHOULD NOT", "RECOMMENDED",  "MAY", and "OPTIONAL" in
              this document are to be interpreted as described in RFC 2119.
            </p>
            <div class=license>
              <div class=license-text>
                <a href="/">danso.ca</a>
                is licensed under the
                <a rel="license"
                   href="http://creativecommons.org/licenses/by-nc-sa/4.0/">
                  Creative Commons
                  Attribution-NonCommercial-ShareAlike license</a>.
              </div>
              <div class="license-png">
                <a class="display-block"
                   rel="license"
                   href="http://creativecommons.org/licenses/by/4.0/deed.en_US">
                  <img class="vert-align-bottom"
                       alt="Creative Commons License"
                       src="/images/cc-by-nc-sa.png" />
                </a>
              </div>
            </div>
        </footer>
    </body>
</html>
